@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to { 
    transform: rotate(360deg);
  }
}

body {
  background:#000000;
  font-family: "Courier New", Courier, monospace;
}

body, html {
    overflow: hidden;
}

a:link {
  color: white;
  text-decoration: underline;
}

a:visited {
  color: white;
  text-decoration: underline;
}

a:hover {
  color: white;
  text-decoration: none;
}

a:active {
  color: white;
  text-decoration: none;
}

#donation-link a:link {
  color: #ccffcc;
  text-decoration: underline;
}

#donation-link a:visited {
  color: #ccffcc;
  text-decoration: underline;
}

#donation-link a:hover {
  color: #ccffcc;
  text-decoration: none;
}

#donation-link a:active {
  color: #ccffcc;
  text-decoration: none;
}

.snowflake {
    position: absolute;
    top: -50px;
    background-image: url('../images/snowflake.png');
    background-size: contain;
    height: 105;
    width: 100px;
    cursor: pointer;
    animation-name: rotate;
    animation-duration: 15.0s;
    animation-iteration-count: infinite;
    animation-timing-function: : linear;
}

#menu {
    position: absolute;
    top: 5px;
    left: 5px;
    color: white;
}

#logo {
    height: 45px;
}

#snowflake-example {
    height: 15px;
}

#buildings {
    color: white;
    position: absolute;
    bottom:5px;
    left: 5px;
}

.additional-option {
  display: none;
}

#donate {
  display: none;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  font-size: 2em;
  max-width: 50%;
  background-color: black;
  padding: 10px;
}

#qrcode {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 300px;
}

#qrcode-close {
  font-size: 0.5em;
}

#donation-account {
  font-size: 0.5em;
}